<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ubyg.ot@tznvy.pbz</string>
	<key>contactName</key>
	<string>Brandon Holt</string>
	<key>description</key>
	<string>
</string>
	<key>name</key>
	<string>Mine</string>
	<key>uuid</key>
	<string>99D72DE8-776E-4087-B2B2-628F80CC7047</string>
</dict>
</plist>
